In [2]:
import datetime as dt

In [3]:
import pandas as pd
import numpy as np
from scipy.io.arff import loadarff

# Ford A Data Set

In [18]:
def read_ariff(path):
    raw_data, meta = loadarff(path)
    cols = [x for x in meta]
    data2d = np.zeros([raw_data.shape[0],len(cols)])
    
    for i,col in zip(range(len(cols)),cols):
        data2d[:,i] = raw_data[col]
    return data2d

train = read_ariff("./FordA_TRAIN.arff")
test = read_ariff("./FordA_TEST.arff")

In [25]:
data = np.concatenate((train,test),axis=0)

In [30]:
data = pd.DataFrame(data)
data.columns = result

In [32]:
data.to_csv("./data.csv",encoding="utf-8")

# Pre-Process Ph, Temp Data Set

In [4]:
date = pd.date_range('2021-09-06','2021-10-27',freq='1D')

In [5]:
date

DatetimeIndex(['2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09',
               '2021-09-10', '2021-09-11', '2021-09-12', '2021-09-13',
               '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-17',
               '2021-09-18', '2021-09-19', '2021-09-20', '2021-09-21',
               '2021-09-22', '2021-09-23', '2021-09-24', '2021-09-25',
               '2021-09-26', '2021-09-27', '2021-09-28', '2021-09-29',
               '2021-09-30', '2021-10-01', '2021-10-02', '2021-10-03',
               '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
               '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11',
               '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-15',
               '2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19',
               '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23',
               '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27'],
              dtype='datetime64[ns]', freq='D')

In [6]:
date_result = []
arr = []
for i in date:
    d=str(i)
    d=d.replace(' 00:00:00','')
    arr.append(d)
    d = d.replace('-','.')
    d = "kemp-abh-sensor-"+d+".csv"
    date_result.append(d)
date_result

['kemp-abh-sensor-2021.09.06.csv',
 'kemp-abh-sensor-2021.09.07.csv',
 'kemp-abh-sensor-2021.09.08.csv',
 'kemp-abh-sensor-2021.09.09.csv',
 'kemp-abh-sensor-2021.09.10.csv',
 'kemp-abh-sensor-2021.09.11.csv',
 'kemp-abh-sensor-2021.09.12.csv',
 'kemp-abh-sensor-2021.09.13.csv',
 'kemp-abh-sensor-2021.09.14.csv',
 'kemp-abh-sensor-2021.09.15.csv',
 'kemp-abh-sensor-2021.09.16.csv',
 'kemp-abh-sensor-2021.09.17.csv',
 'kemp-abh-sensor-2021.09.18.csv',
 'kemp-abh-sensor-2021.09.19.csv',
 'kemp-abh-sensor-2021.09.20.csv',
 'kemp-abh-sensor-2021.09.21.csv',
 'kemp-abh-sensor-2021.09.22.csv',
 'kemp-abh-sensor-2021.09.23.csv',
 'kemp-abh-sensor-2021.09.24.csv',
 'kemp-abh-sensor-2021.09.25.csv',
 'kemp-abh-sensor-2021.09.26.csv',
 'kemp-abh-sensor-2021.09.27.csv',
 'kemp-abh-sensor-2021.09.28.csv',
 'kemp-abh-sensor-2021.09.29.csv',
 'kemp-abh-sensor-2021.09.30.csv',
 'kemp-abh-sensor-2021.10.01.csv',
 'kemp-abh-sensor-2021.10.02.csv',
 'kemp-abh-sensor-2021.10.03.csv',
 'kemp-abh-sensor-2021.10.04.csv',
 'kemp-abh-sensor-2021.10.05.csv',
 'kemp-abh-sensor-2021.10.06.csv',
 'kemp-abh-sensor-2021.10.07.csv',
 'kemp-abh-sensor-2021.10.08.csv',
 'kemp-abh-sensor-2021.10.09.csv',
 'kemp-abh-sensor-2021.10.10.csv',
 'kemp-abh-sensor-2021.10.11.csv',
 'kemp-abh-sensor-2021.10.12.csv',
 'kemp-abh-sensor-2021.10.13.csv',
 'kemp-abh-sensor-2021.10.14.csv',
 'kemp-abh-sensor-2021.10.15.csv',
 'kemp-abh-sensor-2021.10.16.csv',
 'kemp-abh-sensor-2021.10.17.csv',
 'kemp-abh-sensor-2021.10.18.csv',
 'kemp-abh-sensor-2021.10.19.csv',
 'kemp-abh-sensor-2021.10.20.csv',
 'kemp-abh-sensor-2021.10.21.csv',
 'kemp-abh-sensor-2021.10.22.csv',
 'kemp-abh-sensor-2021.10.23.csv',
 'kemp-abh-sensor-2021.10.24.csv',
 'kemp-abh-sensor-2021.10.25.csv',
 'kemp-abh-sensor-2021.10.26.csv',
 'kemp-abh-sensor-2021.10.27.csv']

In [7]:
for i in range(len(date_result)):
    try:
        if date_result[i] =="kemp-abh-sensor-2021.09.06.csv":
            init_data = pd.read_csv("./dataset/%s"%date_result[i])
            init_data['Date'] = arr[i]
        else:
            data = pd.read_csv("./dataset/%s"%date_result[i])
            data['Date'] = arr[i]
            init_data = pd.concat([init_data,data],ignore_index=True)
            

    except:
        continue
    
init_data['Process Rate']=0

In [8]:
init_data

       Index  LoT         Time    pH   Temp        Date  Process Rate
0          1    1   오전 9:01:18  1.02  47.18  2021-09-06             0
1          2    1   오전 9:01:23  1.05  47.34  2021-09-06             0
2          3    1   오전 9:01:28  1.09  48.45  2021-09-06             0
3          4    1   오전 9:01:33  1.12  48.46  2021-09-06             0
4          5    1   오전 9:01:38  1.15  48.47  2021-09-06             0
...      ...  ...          ...   ...    ...         ...           ...
50089   1514   22  오전 11:14:41  2.79  51.83  2021-10-27             0
50090   1515   22  오전 11:14:46  3.62  42.20  2021-10-27             0
50091   1516   22  오전 11:14:51  3.40  41.88  2021-10-27             0
50092   1517   22  오전 11:14:56  3.59  40.62  2021-10-27             0
50093   1518   22  오전 11:15:01  3.82  42.08  2021-10-27             0

[50094 rows x 7 columns]

In [9]:
pr = pd.read_csv('./dataset/pr.csv')

In [10]:
db = pd.merge(init_data, pr, on=['Date', 'LoT'])

In [11]:
del db['Index'], db['Process Rate_x']

In [15]:
db = db.rename(columns={'Process Rate_y':'PR'})

In [16]:
db

       LoT         Time    pH   Temp        Date     PR
0        1   오전 9:01:18  1.02  47.18  2021-09-06  96.38
1        1   오전 9:01:23  1.05  47.34  2021-09-06  96.38
2        1   오전 9:01:28  1.09  48.45  2021-09-06  96.38
3        1   오전 9:01:33  1.12  48.46  2021-09-06  96.38
4        1   오전 9:01:38  1.15  48.47  2021-09-06  96.38
...    ...          ...   ...    ...         ...    ...
50089   22  오전 11:14:41  2.79  51.83  2021-10-27  96.03
50090   22  오전 11:14:46  3.62  42.20  2021-10-27  96.03
50091   22  오전 11:14:51  3.40  41.88  2021-10-27  96.03
50092   22  오전 11:14:56  3.59  40.62  2021-10-27  96.03
50093   22  오전 11:15:01  3.82  42.08  2021-10-27  96.03

[50094 rows x 6 columns]

In [17]:
db.to_csv("./Tem_pH_Data.csv",index=False, encoding="utf-8-sig")